
.contact-section {
    display: flex;
    @media #{$md} {
        display: inherit;
    }
    @media #{$xs} {
        display: inherit;
    }
}

.contact-bg {
    width: 50%;
    height: auto;
    position: relative;
    @media #{$md} {
        width: 100%;
    }
    @media #{$xs} {
        width: 100%;
    }
}

.contact-form-wrap {
    width: 50%;
    padding: 80px 100px 60px;
    @media #{$md} {
        width: 100%;
    }
    @media #{$xs} {
        width: 100%;
        padding: 25px;
    }
    h3 {
        font-size: 40px;
        line-height: 45px;
    }
    
    input, textarea {
        background: #fff;
        margin-bottom: 15px;
        border: none;
    }
    
    input[type=submit] {
        background: #171717;
        color: #fff;
    }
}



// Contact Page 

.contact-page{
    
.contact-form {
    border: 1px solid #eee;
    padding: 60px;
    @media #{$md} {
       margin-top: 60px;        
    }
    @media #{$xs} {
        margin-top: 60px;
        padding: 30px;
    }
    
    form {
        margin-top: 70px;
    }

    label {
        color: #171717;
        margin-bottom: 8px;
    }
    
    input, textarea {
        border-radius: 0;
        margin-bottom: 20px;
        border: 1px solid #eee;
        padding: 15px 20px;
    }
    
    textarea {
        height: 200px;
    }

    button[type=submit] {
        background: #171717 !important;
        border: 1px solid #171717;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
    
}


.contact-page.google-map iframe {
    width: 100%;
    height: 785px;
    filter: grayscale(1);
}

}

// Contact info [contact page]

.single-contact-info {
    border: 1px solid #eee;
    text-align: center;
    padding: 60px 70px;
    margin-bottom: 30px;
    p {
        margin: 0;
    }
    .contact-icon {
        height: 80px;
        width: 80px;
        background: #171717;
        border-radius: 50%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }
}



