.team-info h5 {
    font-size: 24px;
    margin-top: 15px;
}

.team-info p {
    font-size: 16px;
    margin: 0;
}

.social-icon {
    font-size: 18px;
}

.social-icon a i {
    font-size: 18px;
    margin-right: 10px;
    color: #777;
    margin-top: 5px;
}

.social-icon span {
    margin-right: 10px;
    color: #878787;
    margin-top: 5px;
}

.single-team-item {
    margin-bottom: 60px;    
}