
// Font Family
$poppins: 'Poppins', sans-serif;
$dm_sans: 'DM Sans', sans-serif;


// Colors ---------------

$primary_color:#171717;
$body_text: #878787;


$text-black: #171717;
$text-gray: #9F9F9F; 

$white: #fff;
$black: #444;


// Responsive Variables
$xl: 'only screen and (min-width: 1200px) and (max-width: 1600px)';
$lg : 'only screen and (min-width: 992px) and (max-width: 1200px)';
$md:'only screen and (min-width: 768px) and (max-width: 991px)';
$xs:'(max-width: 767px)';
$sm: 'only screen and (min-width: 540px) and (max-width: 767px)';



